@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
body {
  background-color: #282828;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}
.title {
  margin: 15px;
}

.adaptive {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: 100px 1fr;
  grid-auto-rows: 50px;
  gap: 10px;
}
.adaptive > * {
  padding: 10px;
  color: white;
  background: #b63939;
}
.header {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 14px;
  grid-column: span 2;
}
.logo {
  padding: 6px 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.header_menu{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 300;
}
.menu_item{
  cursor: pointer;
  transition: color 0.3s;
}
.menu_item:hover{
  color: #642121;
}
.phone {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  letter-spacing: -1px;
}
.header .phone i {
  font-size: 12px;
}
.header .mobile-menu {
  display: none;
  font-size: 30px;
}
.sidebal__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: left;
}
.news_posts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subscribe {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: 40px;
  gap: 5px;
  margin-bottom: 2%;
}
.subscribe input,
.subscribe button {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 3px;
}
.subscribe button {
  background: wheat;
}
.main_title{
  margin-bottom: 1%;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 10px;
}
.post {
  display: grid;
  background: wheat;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px 5px 15px;
}
.post__img {
  height: 240px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: url('https://media.discordapp.net/attachments/1073260324737781864/1075080708034404363/oluto_neuroweb_photorealistic_cinematic_background_unreal_engin_69045d1e-1a7e-42bf-9bc3-a1b51a4c709d.png') 
  center / cover;
}
.post__content {
  padding: 0 10px;
  text-align: left;
}
.post__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #282828;
}
.post__desc {
  font-weight: 300;
}

@media (max-width: 1200px) {
  .adaptive {
    width: 1000px;
    grid-template-columns: 1fr 300px;
  }
  .post {
    grid-template-columns: 1fr 2fr;
    padding-bottom: 5px;
    min-height: 150px;
  }
  .post__img {
    height: 100%;
  }
  .post__title {
    font-size: 22px;
  }
}
@media (max-width: 1000px) {
  .adaptive {
    width: 768px;
  }
  .post {
    grid-template-columns: 1fr;
    padding-bottom: 15px;
    min-height: 150px;
  }
  .post__img {
    height: 20vw;
  }
  .post__title {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 4.5vw;
  }
  .adaptive {
    width: 480px;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr auto;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid white;
    grid-column: 1;
  }
  .header .menu {
    display: none;
  }
  .header .mobile-menu {
    display: block;
  }
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .post__title {
    font-size: 18px;
  }
  .post__desc {
    font-size: 15px;
  }
  .post__img {
    height: 25vw;
  }
}
@media (max-width: 480px) {
  .adaptive {
    width: 100%;
    grid-template-rows: 50px 1fr auto;
  }
  .posts {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .post__desc {
    font-size: 14px;
  }
  .post__img {
    height: 35vw;
  }
}
